.img-shop{
    height: 50%;
    width: 50%;
}

.insta{
    height: 100px;
    width: 100px;
    transition: transform 0.2s;
}

.insta:hover {
    transform: scale(1.3);
}

@media only screen and (max-width: 494px) {
    .img-shop{
        height: 250px;
        width: 50%
    }
}